#topmenubar {
  position: relative;
  background: gray;
  height: 40px;
  top: 0;
  text-align: center;
  padding-top: 15px;
}


#map {
height: 100%;
position: absolute;
bottom: 0px;
right: 0px;
}



#body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#location-list {
  background-color: gray;
}
