#topmenubar {
  position: relative;
  background: white;
  height: 40px;
  top: 0;
  text-align: center;
  padding-top: 15px;
  list-style-type: none;
}


#map {
height: 93%;
position: absolute;
bottom: 0px;
right: 0px;
padding-top: 2px;
}



#body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#location-list {
  background-color: LightCyan;
}
